@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    /* border: solid green 2px; */
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8
}
.links {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
}

.herotext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 450px;
}

.maintext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 550px;
    background-color: gray;
    
}

.button {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    height: 35px;
    width: 110px;
    border-radius: 5px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 30px;
}

.infoheader {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    padding: 40px;
    text-align: center;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.smallplaceholder {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    max-width: 200px;
    margin-left: 15px;
    
}

